[Variables]
; Uncomment the following line and set your Python path if 'pythonw' is not in system PATH.
; Run in CMD: where pythonw
; Then paste the path below (no leading space).
; PythonPath=C:\Path\To\Python\pythonw.exe
PythonParam=#CURRENTPATH#stats.py
